@model IEnumerable<MyBandTour.Models.BANDA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido a la pagina de actualizacion de bandas</h2>

<div class="jumbotron">
    <p>

        @{
            if (User.IsInRole("ADMIN"))
            {
                @Html.ActionLink("Create New", "Create")
            }
        }
    </p>
    <table class="table">
        <tr>
            <th>
                Banda
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BANDA1)
                </td>
                <td>

                    @{
                        if (User.IsInRole("ADMIN"))
                        {
                            @Html.ActionLink("Edit | ", "Edit", new { id = item.IDBANDA })
                            @Html.ActionLink("Details | ", "Details", new { id = item.IDBANDA })
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDBANDA })
                        }
                    }

                </td>
            </tr>
        }

    </table>
</div>


